@import "tailwindcss";

body {
  box-sizing: border-box;
  background: #fff;
}

textarea { 
  resize: none; 
  outline: none;
  color: #000;
}

textarea::placeholder {
  color: #76777A;
}

textarea:disabled {
  color: #76777A;
}


